.header{
  background-color: red;
  padding: 40px;

  nav{
    display: flex;
    width: 100%;
    justify-content: space-between;

    ul{
      display: flex;
      gap: 12px;
      list-style: none;
    
    a{
      text-decoration: none;
      color: inherit;
      transition: .4s;

      &:hover{
        text-decoration: underline;
        color: white;
      }
    }
    }
  }
}



