$primary-color: #003049;
$p2:#005480;
$p3:#0081C3;
$p4:#00A3F6;
$p5:#2FB9FF;
$p6:#7DD3FF;
$secondary-color: #212529;
$s2:#343A40;
$s3:#495057;
$s4:#6C757D;
$s5:#ADB5BD;
$s6:#CED4DA;
$s7:#FFFFFF;
$s8:#1C2024;
$s9:#0E1114;
$s10:#0B1015;
$s11:#060A0D;
$s12:#040709;
$s13:#000000;


@font-face {
  font-family: 'Title';
  src: url('../public/Merriweather-Bold.ttf');
}

@font-face {
  font-family: 'Text-L';
  src: url('../public/QueensidesLight-ZVj3l.ttf');
}

@font-face {
  font-family: 'Text-M';
  src: url('../public/QueensidesMedium-x30zV.ttf');
}

@font-face {
  font-family: 'Lis';
  src: url('../public/Deutschlander.otf');
}

@font-face {
  font-family: 'Button-L';
  src: url('../public/artemis-light.ttf');
}

@font-face {
  font-family: 'Button-R';
  src: url('../public/artemis-regular.ttf');
}

@font-face {
  font-family: 'Alternative-Button';
  src: url('../public/abraham\ reguler\ free.otf');
}


.container{

  .fixedButton{
    display: none;
  }


  .header{
    background-color:$s8;
    padding: 2.5rem;
  
  
    h1{
      font-size: 3rem;
      font-family: 'Title';
      color: $p6;
    }
    nav{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      ul{
        display: flex;
        gap: .75rem;
        list-style: none;
      a{
        text-decoration: none;
        color: $s5;
        transition: .4s;
        font-family: 'Lis';
        font-size: 1.5rem;
  
        &:hover{
          text-decoration: underline;
          color: $s7;
        }
      }
      }
    }
  }
  
  .headerPresentation{
    height: 37.5rem;
    position: relative;
    padding: 1.25rem;
    background: url('../public/header.svg');
    background-position: center;
    background-size: cover;
    
    .infos{
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: .75rem;
  
      h1{
        font-size: 2.5rem;
        color: $s9;
        font-family: 'Title';
        width: 28.125rem;
      }
    
      h4{
        font-size: 1rem;
        color: $secondary-color;
        font-family: 'Title';
      }
  
      button{
        width: max-content;
        padding: .5rem 2.25rem;
        cursor: pointer;
        border: .125rem solid $p5;
        border-radius: .5rem;
        background-color: $primary-color;
        text-transform: uppercase;
        transition: .4s;
        margin-top: 1.25rem;
  
        &:hover{
        border-color: $primary-color;
        background-color: $p5;
        }
        a{
          text-decoration: none;
          color: $s7;
          font-family: 'Alternative-Button';
          font-size: 1.1rem;
        }
      }
    }
   
  }
  
  
  .section{
    padding: 1.25rem;
    margin: 2.5rem 0px;
  
    h2{
      margin-bottom: .5rem;
      font-family: 'Title';
      color: $s13;
      font-size: 2rem;
    }
  
    p{
      color: $s2;
      font-family: 'Text-R';
      font-size: 1.1rem;
      line-height: 1.5;
    }
  
    .containerModalities{
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      margin-top: 2.5rem;
      .modality,.modality2{
        display: flex;
        gap: .75rem;
  
  
        h3{
          font-size: 1.3rem;
          font-family: 'Title';
        }
        img{
          object-fit: cover;
        }
  
        div{
          p{
            font-family: 'Text-M';  
            width: 40.625rem;
            text-align: justify;
          }
        }
      }
  
      .modality2{
       place-content: end;
  
       h3{
        text-align: end;
       }
      }
    }
  
    .benefits{
      display: flex;
      gap: 1rem;
      align-items: center;
  
      .benefitContainer{
        p{
          margin-top: .75rem;
          text-align: justify;
        }
      }
  
      img{
        object-fit: cover;
        border-radius: 12.5rem;
      }
    }
  
    .about{
      display: flex;
      gap: .75rem;
      align-items: center;
      img{
        object-fit: cover;
        display: flex;
        height: max-content;
        margin: 0;
      }
  
      p{
        font-family: 'Text-M';  
        width: 33.125rem;
        text-align: justify;
      }
    }
  
    
  }
  
  .partners{
    margin: 1.875rem 0rem;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
  
    h2{
      margin-bottom: .5rem;
      font-family: 'Title';
      color: $s13;
      font-size: 2rem;
    }
  
    p{
      color: $s2;
      font-family: 'Text-R';
      font-size: 1.1rem;
      line-height: 1.5;
    }
  
  
    .partner{
      display: flex;
      gap: 3.75rem;
      place-items: center;
      
      img{
        transition: .4s;
        &:hover{
          scale: 1.5;
        }
      }
    }
  }
  
  
 .footerContainer{
  height: 25rem;
  position: relative;
  width: 100%;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  .footer{
    background-color:$s8;
    padding: 2.5rem;
    height: 25rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
  
  
    .infos{
      
      h1{
        font-size: 3rem;
        color: $p6;
        font-family: 'Title';
        margin-bottom: .75rem;
      }
  
      .info{
        display: flex;
        align-items: center;
        gap: .75rem;
        margin-bottom: 1.5rem;
        
        p{
          color: $s6;
          font-family: 'Lis';
          font-size: 1.5rem;
        }
      }
    }
  
    .icons{
      display: flex;
      gap: .75rem;
      margin-top: 3.75rem;
      a{
        border: .125rem solid $s7;
        padding: .5rem;
        border-radius: .5rem;
        cursor: pointer;
        background-color: transparent;
        height: max-content;
        transition: .4s;
        &:hover{
          border-color: $p4;
        }
      }
    }
  }
 }
}


@media(max-width:640px){
  .container{
   
    .header{
      padding: 1.25rem;

     nav{
      ul{
        display: none;
      }
     }
    }

    .headerPresentation{
      height: 25rem;

      .infos{
        h1{
          font-size: 2rem;
          width: 25rem;
        }

        h4{
          font-size: 0.875rem;
          width: 21.875rem;
        }

        button{
          display: none;
        }
      }
       
    }

    .fixedButton{
      display: block;
      position: fixed;
      top: 85%;
      left: 65%;
      width: max-content;
      padding: .5rem 2.25rem;
      cursor: pointer;
      border: .125rem solid $p5;
      border-radius: .5rem;
      background-color: $primary-color;
      text-transform: uppercase;
      transition: .4s;
      margin-top: 1.25rem;

        a{
          text-decoration: none;
          color: $s7;
          font-family: 'Alternative-Button';
          font-size: 1.1rem;
        }
    }

    .section{
      margin: 1.875rem 0rem;
      h2{
        width: 21.875rem;
      }

      .containerModalities{
        .modality,.modality2{
          h3{
            margin-bottom: .25rem;
          }
          img{
            display: none;
          }
          flex-direction: column;

          div{
            p{
              width: 18.75rem;
              line-height: 1.7;
              text-align: justify;
            }
          }
        }

       

        .modality2{
          margin-top: 2.5rem;
          h3{
            text-align: start;
          }
        }
      }

      .benefits{
       
        align-items: start;
        gap: .75rem;
        img{
         display: none;
        }

        p{
          font-size: 0.875rem;
          width: 10rem;
          text-align: justify;
        }
      }

      .about{
        gap: 0;
        p{
          width: 21.875rem;
          text-align: justify;
        }
        img{
          display: none;
        }
      }

    }

    .partners{
      margin: .75rem 0rem;
      display: flex;
      justify-content: center;
      .partner{
        width: 100%;
        display: flex;
        place-items: center;
        gap: 1.25rem;
      }  
    }

    .footer{
      display: flex;
      padding: .75rem;
      align-items: center;
      gap: 1.25rem;
      background-color: $s8;

      .infos{
        h1{
          font-size: 2rem;
          color: $s7;
          font-family: 'Title';
        }

        .info{
          display: flex;
          align-items: center;
          gap: .25rem;
          p{
            font-size: 1rem;
            color: $s7;
            text-decoration: none;
          }
        }
      }

      .icons{
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        margin-top: 0;

        a{
          border: .125rem solid $s7;
          padding: .5rem;
          border-radius: 8px;
          cursor: pointer;
          background-color: transparent;
          height: max-content;
        }
      }
    }
  }
}